colorBg = #fff
colorBg2 = hsl(209, 100%, 9%)
colorP = #96d2de
colorN = #000
*
    padding 0px
    margin 0px
p, h1, h2 , h3, h4, h5
    color colorN !important



body
    height 100vh
    background-color colorBg
    width 100%
    font-family 'Helvetica' !important
footer
    background-image url('https//ciudadoceano.com/media/icons/imgF.png')
    background-color colorBg2
    padding 0
    height auto
    width 100%
    background-size 100% 100%
    background-repeat no-repeat
nav
    position sticky !important
    padding-top 0 !important
    padding-bottom 0 !important
    width 100% !important
    z-index 999 !important
    top 0 !important
    min-height 15%
    border-bottom 1px solid colorBg2
    background-color colorBg
    .navbar-brand
        img
            width 100px
    i
        color colorN !important
.cont__
    overflow auto
    height calc(100% - 15.1%)
    max-width 100% !important
    padding 0
    ul
        list-style: none;
        a
            color #000
.active
    font-weight 900
.Logo
    font-family 'Helvetica' !important
    font-size calc(0.5rem + 0.5vw)
    margin 0
    align-content center
    color #96d2de
    text-transform uppercase
    height 28px
    width 77px
    white-space pre-wrap
    display flex
    justify-content center
    align-items center
    line-height 1
.dropdown-menu
    left 85% !important
.pt-6
    padding-top calc(5.5% + 1vh)
#cookies
    z-index 999
    height 35%
    position fixed
    margin auto
    top calc(50% - -13%)
    left calc(50% - 26%)
    border-radius 15px
    background-color colorN !important
    align-content center
    text-align center
    text-decoration none
    max-width 75%
    display grid
    padding 15px
#cookies p
    width 100%
    font-size calc(0.4rem + 0.25vw)
    text-decoration none
    color colorBg
#cookies h4
    color colorBg
    text-decoration none
.cookies-poli
    color colorBg
.cookie-consent__agree
    border-radius 5px
    color #5d6277
    text-decoration none

.dropdownhover .dropdown-menu
    transition 0.5s
    border-radius 0 3px 3px 0
    border 0
    left 100%
    display block
    top 1%
    min-width 8rem
.dropdown-menu a
    color colorN
.nav-item a
    color colorN
.pnav
    font-family 'Helvetica' !important
    font-size calc(0.5rem + 0.4vw)
    color colorN

.dropdown-menu a
    &:hover
        background colorN
        color white
        i
            color white !important
.dropdown-menu
    font-size 0.8rem !important
.dropdownhover .dropdown-menu-user
    transition 0.5s
    border-radius 0 3px 3px 0
    border 0
    left 0%
    display block
    top 90%
    min-width 8rem
.dropdown-menu-user a
    color #707791
.dropdown-menu-user li
    &:hover
        background #707791
        color colorBg
.dropdown-menu-user li
    &:hover
        .us
            color colorBg !important
.dropdown-menu-user
    font-size 0.8rem !important
#carouselExampleIndicators
    height 100%
.video-wrap
        height 100%
    text-align center
.video
    iframe
        max-width 100%
        max-height 100%
.ImdDetails
    width 60%
#PDetails
    width 40%
.PGallery
    width 70%
.ContenedorGallery
    padding 0
    height 59%
.Pgallery
    p
        width 70%
        font-size calc( 0.5rem + 1vw)
        text-align justify
.Pjustify
    padding 2px 155px
    p
        text-align center
        margin 0
.contactoP
    p
        display inline-block
.link-acc
    display grid
    height 100%
    justify-content center
    align-content center
    color colorBg
#Image_PC
    display block
#Image_Mobile
    display none
#Home
    .titl_v
        color colorP
        width 100%
        text-align center
        font-size calc(3.5rem + .5vw)
#Just
    max-width 100% !important
    .title_j
        color colorN
        width 100%
        text-align center
        font-size calc(3.5rem + .5vw)
#Img_just
    padding 0
    height 650px !important
    width 100%
    background-size 100% 100%
    background-position center
    background-repeat no-repeat
    h1
        padding-right 52%
        color colorBg
        width 100%
        position absolute
        bottom 0
        background-color rgba(15,33,47,0.5)
        margin 0
.navbar-toggler
    color colorBg
.carousel-control-next
    opacity 0 !important
.carousel-control-prev
    opacity 0 !important
.cont-card-event
    padding 4%
    border-radius 8px
body
    height 100vh
    width 100%
.title_article
    justify-content start
    height 30%
    color colorBg !important
    font-size calc(0.8rem + 0.5vw)
    text-align center
    align-items center
    display flex
    width 250px
    &:hover
        text-decoration none
        font-weight 700
a:link, a:visited, a:active
  text-decoration none
.redes
    display flex
    justify-content space-around
    align-items center
    i
        color colorBg
        margin-left 20px
#Article
    color colorBg
    height 100%
    overflow auto
.title_home
    text-align center
    font-size 4rem
    position absolute
    width 100%
    color white
    z-index 1
    top 0
    height 100%
    justify-content center
    align-items center
    display flex
.img-portada
    height 350px
    background-repeat no-repeat
    background-position center
    background-position-x center
    background-position-y center
    background-size contain
.valores-p
    padding 0 70px
    p
        text-align justify
        font-size 25px
.contacto-p
    padding 20px
    right 0
    border-radius 5px
    width 80% !important
    display grid
    align-items flex-end
    background rgba(183, 186, 199, 0.471)
    justify-content center
    font-weight bold
    color #141d44
.contacto-p p
    width 100%
    position relative
    margin 0
.contacto-p p a
    background rgba(183, 186, 199, 0.471)
    justify-content center
    font-weight bold
    color #141d44
.content-artist-img
    height 350px !important
    background-color red
    width 350px
    background-position center
    background-repeat no-repeat
    background-size cover
.content-obra-img
    height 550px !important
    background-color red
    width 550px
    background-position center
    background-repeat no-repeat
    background-size cover
.artist-name
    margin 0
    font-size calc(2rem + 14px)
    font-weight 700
    font-family 'NimbusSanL-Reg' !important
.artist-year
    margin 0
    font-size 25px
.artist-description
    padding-right 21%
    margin 0
    font-size 30px
#img-asesor
    padding 12vh 0px !important
    height 100%
    margin-top 50px
.title_, .date_
    p
        padding-left 10px
        color #fff !important
.info-news
    width 100%
    position absolute
    bottom 0
    background-color rgba(0,0,0,0.5)
.Link_Not

    img
        background-repeat no-repeat
        background-position center
        background-position-x center
        background-position-y center
        background-size 100% auto
        height 100%
#news_mobile
    display none
@media (max-width 1140px)
    .pt-6
        padding-top 0%
    #cookies
        height 27%
        top calc(50% - -20%)
        left calc(50% - 36%)
    .ImdDetails
        width 100%
    #PDetails
        width 70%
    .PGallery
        margin-bottom 25px
        width 95%
    .Pjustify
        padding 2px 55px
    #Image_PC
        display none
    #Image_Mobile
        display block
    #Img_just
        background-size auto 100%
        h1
            padding-right 0% !important
    #img-asesor
        padding  0 !important
        height 50%
    .artist-description
        padding-right 0
        font-size calc(0.5rem + 14px)
    .artist-year
        font-size 16px
    .artist-name
        font-size calc(2rem + 8px)
    .content-artist-img
        height 100% !important
        width 300px
    #web-news
        display none
    #news_mobile
        display block
    .img-cont-news
        height 350px !important
@media (max-width 430px)
    .img-cont-news
        height 200px !important
@media (max-width 330px)
    .img-cont-news
        height 150px !important
    .form_search
        padding 0 !important
@media (min-width 2430px)
    .news-small
        height 300px !important
